<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Survey App</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <header class="bg-blue-600 text-white p-6">
        <h1 class="text-3xl font-bold">Poll Survey App</h1>
        <p class="mt-2">Create and participate in surveys easily!</p>
    </header>

    <main class="container mx-auto p-6">
        <section class="mt-10 text-center">
            <h2 class="text-2xl font-semibold">Welcome to the Poll Survey App</h2>
            <p class="mt-4 text-gray-700">Create your own multiple-choice polls, add questions and answers, and
                visualize the results with real-time graphs!</p><br>
            <h1 class="text-2xl font-semibold">Get Started</h1>
            <p class="mt-6 inline-block bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500">
                Use the Postman collection shared in the README file to create a poll and see real-time graphs of the
                responses!
            </p>
        </section>
    </main>

    <footer class="bg-gray-800 text-white p-4 text-center mt-10">
        <p>&copy; 2024 Poll Survey App. All rights reserved.</p>
    </footer>
</body>

</html>